body
{
    background-color: rgb(235, 159, 61);
    margin: 0px;
    text-align: center;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 25px;
}
canvas
{
    border: 1px solid black;
    background-color: white;
}
#canvas_menu
{
    background-color: lightgrey;
    position: absolute;
    top: 100px;
    left: 50px;
    height: 400px;
    width: 120px;
    border: black solid 1px;
    text-align: center;
    font-size: 15px;
}
#game_menu
{
    background-color: lightgrey;
    position: absolute;
    border: black solid 1px;
    top: 50px;
    left: 50px;
    height: 250px;
    width: 200px;
}


