body
{
    background-color: rgb(235, 159, 61);
    margin: 0px;
    text-align: center;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 25px;
}
canvas
{
    border: 1px solid black;
    background-color: white;
    height: 400px;
    width: 600px;
}
.container
{
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: violet;
}
.column
{
    text-align: center;
    float: left;
    width: 25%;
    height: 100%;
    background-color: yellow;
}



